@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  background-color: #fffaf7;
}

* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #fff5ee;
}

::-webkit-scrollbar-thumb {
  background: #fdba74;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f97316;
}